<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.houniao.iteam"
          android:versionCode="1"
          android:versionName="1.0" >

    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="14" />

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" >
        <activity
                android:name="com.houniao.iteam.TeamMainActivity"
                android:label="@string/app_name"
                android:uiOptions="none|splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".Setting"></activity>-->
        <service android:name=".service.CommunicateService" android:exported="true"></service>
    </application>
    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest>
